body{
    overflow-x: hidden;
    background-color: rgb(250, 241, 243);
    margin: 0;
}

img{
    height: auto;
    width: 100%;
    
}


.text-overlay {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(107, 14, 133, 0.354);
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    border: 1cm;
}


p{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.6;
}

.column {
    flex: 1;
    padding: 70px;
    border: 1px solid #ccc;
    margin: 5px;
    border: 0;
    outline: 0;
}

.column h4{
    font-size: x-large;
    text-align: center;
}

.info1{
    text-align: right;
    cursor: pointer;
}

.text-overlay p {
    font-size:medium;
    word-spacing: 0.3em;
}

a {
    color: white; 
}

footer {
    background-color: rgb(107, 14, 133);
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.address{
    flex: 1;
    padding: 10px;
    text-align: left;
    color: white;
}

.container2 {
    display: flex;
    align-items: center;
}

.container2 p{
    font-size: small;
}

.container2 h3{
    text-align: center;
}



h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.price{
    text-align: right;
    display: inline;
}

.big{
    border-radius: 5px;
}

.intro{
    display: flex;
    font-weight: 500;
}

.thanks{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.column img{
    width: 250px;
    height: 250px;
}

.cart{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-top: 20px;
    border-width: 1px;
}

.cart:hover{
    color: white;
    background-color: black;
}

.big {
    transition: transform 0.3s; 
}

.big:hover {
    transform: scale(1.1); 
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(50%);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 20px; /* Adjust for spacing from the right edge */
    transform: translateY(-50%);
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    background: rgba(0, 0, 0, 0); /* Optional for readability */
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 300px; /* Optional to limit width */
    line-height: 1.5;
}

.overlay-text2 {
    position: absolute;
    top: 50%;
    right: 20px; /* Adjust for spacing from the right edge */
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    background: rgba(0, 0, 0, 0); /* Optional for readability */
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 300px; /* Optional to limit width */
    line-height: 1.5;
}